datasets==2.14.5
tokenizers==0.14.1
transformers==4.34.0  # Change this to be compatible with tokenizers
trl==0.4.4
accelerate==0.22.0
huggingface-hub==0.17.3  # Ensure compatibility with all dependencies
